/OOP_Program/src
/OOP_Program/tsconfig.json
/Logical_Program/src
/Logical_Program/tsconfig.json
/Logical_Program/package-lock.json
/Logical_Program/package.json
/Data_Structure/src
/Data_Structure/tsconfig.json